<div class="container" style="margin-top: 1px;">
 <%= form_for @canada do |f| %>
  <div class="form-group">
    <% if @canada.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@canada.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @canada.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h5 style="text-decoration: underline;  font-weight: bold;">Sponsor Entry:</h5>
    <div class="form-row">   
        <div class="form-group col-md-4 ">
          
          <p>
            <%= f.label :'Sponsor ID' %>
            <%= f.text_field :sponsor_Id, class: "form-control", placeholder: "Sponsor ID" %>
           </p>
        </div>
        <div class="form-group col-md-4">
         <p>
           <%= f.label :'Sponsor name' %>
           <%= f.text_field :sponsor_name, class: "form-control", placeholder: "Sponsor name" %>
          </p>
        </div>
    </div>
   <div class="form-row">
      <div class="form-group col-md-4">

        <p>

          <%= f.label :'License number' %>
          <%= f.text_field :sponsor_license, class: "form-control", placeholder: "License number" %>
         </p>
      </div>
      <div class="form-group col-md-4">
       <p>
         <%= f.label :'Business category' %>
         <%= f.text_field :sponsor_business, class: "form-control", placeholder: "Business category" %>
        </p>
      </div>
     <div class="form-group col-md-4">
        <p>
          <%= f.label :'Taxation number' %>
          <%= f.text_field :sponsor_taxation, class: "form-control", placeholder: "Taxation number" %>
        </p>
      </div>
    </div>
        <h5 style="text-decoration: underline;  font-weight: bold;">Applicant Entry:</h5>
    <div class="form-row">
      <div  class="form-group col-md-4">

        <p>
          <%= f.label :'Application no'%>
          <%= f.text_field :application_no, class: "form-control", placeholder: "Application no"%>
        </p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">

        <p>

          <%= f.label :'First name' %>
          <%= f.text_field :first_name, class: "form-control", placeholder: "First name" %>
         </p>
      </div>
      <div class="form-group col-md-4">
       <p>
         <%= f.label :'Surname' %>
         <%= f.text_field :surname, class: "form-control", placeholder: "Surname" %>
        </p>
      </div>
     <div class="form-group col-md-4">
        <p>
          <%= f.label :'Last name' %>
          <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>
        </p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <p>
          <%= f.label :'Nationality' %>
          <%= f.text_field :nationality, class: "form-control", placeholder: "Nationality" %>
        </p>
      </div>
      <div class="form-group col-md-4 field">
          <%= f.label :'Marital status' %>
         <%= f.select :marital_status, options_for_select(["Select one","Single","Married"]), {}, class: "form-control" %>
      </div>
      <div class="form-group col-md-4 field">
        <%= f.label :'Sponsor name' %>
         <%= f.text_field :sponsor, class: "form-control", placeholder: "Sponsor" %>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 field" >
        <p>
          <%= f.label :'Passport no' %>
          <%= f.text_field :passport_no, class: "form-control", placeholder: "Passport no" %>
        </p>
      </div>
      <div class="form-group col-md-4 field" >
        <p>
          <%= f.label :'Passport expiry' %>
          <%= f.date_field :passport_expiry, class: "form-control", placeholder: "Passport Expiry" %>
        </p>
      </div>
      <div class="form-group col-md-4 field">
        <%= f.label :'Visa Category' %>
        <%= f.select :visa_category, options_for_select(["Select one","Visitor","Immigration", "Study", "Work"]), {}, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4 field">
        <p>
          <%= f.label :'Date&time' %>
          <%= f.datetime_field :date_time, class: "form-control", placeholder: "Passport no" %>
        </p>
      </div>
      <div class="form-group col-md-4 field">
        <p>
          <%= f.label :'Application status' %>
          <%= f.text_field :application_status, class: "form-control" %>
        <!--    <%= f.select :application_status, options_for_select(["Select one","Started","Processing","Complete", "Other"]), {}, class: "form-control" %> -->
        </p>
      </div>
      <div class="form-group col-md-4 field">
        <p>
          <%= f.label :'Job category' %>
          <%= f.text_field :jobcat, class: "form-control", placeholder: "Job category" %>
        </p>
      </div>
    </div>
    <div style="text-align: center;">
        <p>
          <%= f.submit 'submit', class: "btn btn-dark"%>
        </p>
    </div>
    <%end%>
 </div>
</div>
