<body style="overflow-x: hidden;">
<div class="container">
  <div class="row" style="margin-top: -32px;">
    <div class="col-md-3 o1  img-fluid">
    <%= link_to canadas_path do %>
      <%= image_tag "can1"%>
    <%end%>
</div>
<div class="col-md-9 o2" style="padding: 0px;">
    <%= image_tag "we", class: "mySlides img-fluid"%>
    <%= image_tag "visi", class: "mySlides img-fluid"%>
    <%= image_tag "imii", class: "mySlides img-fluid"%>
    <%= image_tag "study", class: "mySlides img-fluid"%>
    <%= image_tag "wok", class: "mySlides img-fluid"%>
  </div>
</div>
</div>
  <script type="text/javascript">
    var myIndex = 0;
    carousel();

    function carousel()
    {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 5000); // Change image every 2 seconds
    }
  </script>

  <div class="row">
    <div class="col-md-12" style="margin-top: -51px;">
   <p  class="pic2"></p>
   </div>
  </div>
  <div style="margin-top: -74px;" class="row">
    <div class="col-md-4">
  <div class="dropdown-show" style=" padding-bottom: 13px;">
    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="                             dropdownMenuLink" data-toggle="dropdown"> Menu
    </a>

    <div class="dropdown-menu" >
      <%= link_to 'visit', canada_visit_path(:visa), class: "dropdown-item" %>

      <%= link_to 'immigrant', canada_immigrant_path(:visa), class: "dropdown-item" %>

      <%= link_to 'study', canada_study_path(:visa), class: "dropdown-item" %>

      <%= link_to 'work', canada_work_path(:visa), class: "dropdown-item" %>
    </div>
  </div>
  </div>
    <div class="col-md-8">
       <div class="container">
    <marquee>
        <span>Avail your canada visa from here |</span>&nbsp;
        <span> Study visa |</span>&nbsp;
        <span>Immigration |</span>&nbsp;
        <span>Visit visa |</span>&nbsp;
        <span>Work permit visa |</span>&nbsp;
        <span>Best place to get any type of canada visa</span>
    </marquee>
  </div>
  </div>
</div>
       <div class="row">
      <div style="margin-top: 20px; margin-left: 6px;" class="col-md-12">
        <%= image_tag "cnt", class: "img-fluid"%>
      </div>
      </div>
    <div class="container">
      <h1 class="cnt1">Canada Immigration</h1>
      <div style="margin-top: 1px;">
        <p>
          <h2>Managing Director</h2>
          <h4>Imran Mumtaz</h4>
        </p>
         <h6>Office: (+92)-333-4002193<br>
                    <span style="margin-left: 50px;">(+92)-305-4002193</span>
         </h6>
        <h6>cell: (+92)-335-0494585</h6>

        <h6>Email: imran_amr@yahoo.com</h6>
      </div>
      <div class="brand" style="margin-top: 1px;">
        <div class="container" style="margin-top: 26px; margin-bottom: 1px;">
          <div class="row">
            <nav class="col-sm-10 ftr-urlt-lnk">
              <ul class="list-group flex-md-row">
                <li style="margin-right: 27px;">Social-Media</li>
                <li style="margin-right: 27px;">Mobile-Application</li>
                <li style="margin-right: 27px;">Canada.Ca</li>
                <li style="margin-right: 27px;">Term&Condition</li>
                <li>Privacy</li>
              </ul>
            </nav>
          <div class="col-xs-6 col-md-2 text-right" style="margin-left: -73px;">
          <%= link_to canada_main_path(:can) do %>
          <%= image_tag "last"%>
          <%end %>
        </div>
      </div>
    </div>
  </div>
    </div>
</body>
