<body style="overflow-x: hidden;">
  <div class="pic1">
    <%= link_to canadas_path do %>
    <%= image_tag "can1" %>
    <%end%>
  </div>

  <div style="margin-left: 501px;">
    <%= image_tag "we", class: "mySlides"%>
    <%= image_tag "visi", class: "mySlides"%>
    <%= image_tag "imii", class: "mySlides"%>
    <%= image_tag "study", class: "mySlides"%>
    <%= image_tag "wok", class: "mySlides"%>
  </div>

  <script type="text/javascript">
    var myIndex = 0;
    carousel();

    function carousel()
    {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 5000); // Change image every 2 seconds
    }
  </script>

  <p  class="pic2"></p>
  <div>
    <marquee style="margin-left: 84px;">
      <div>
        <span>Avail your canada visa from here |</span>&nbsp;
        <span> Study visa |</span>&nbsp;
        <span>Immigration |</span>&nbsp;
        <span>Visit Visa |</span>&nbsp;
        <span>Work Permit Visa |</span>&nbsp;
        <span>Best Place to get Any Type of Canada Visa</span>
      </div>
    </marquee>
  </div>

  <div class="dropdown-show" style="margin-top: -46px;">
    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="                            dropdownMenuLink" data-toggle="dropdown">Menu
    </a>

    <div class="dropdown-menu" >
      <%= link_to 'visit', canada_visit_path(:visa), class: "dropdown-item" %>

      <%= link_to 'immigrant', canada_immigrant_path(:visa), class: "dropdown-item" %>

      <%= link_to 'study', canada_study_path(:visa), class: "dropdown-item" %>

      <%= link_to 'work', canada_work_path(:visa), class: "dropdown-item" %>
    </div>
  </div>
  <div class="container">
   <h1 class="oo">Edit form Canada:Visa</h1>

   <%= render 'form' %>

   <!-- <%= link_to 'Back', canada_main_path(:can) %> -->
  </div>
      <div class="brand">
      <div class="container" style="margin-top: 26px; margin-bottom: 1px;">
        <div class="row">
          <nav class="col-sm-10 ftr-urlt-lnk">
            <ul class="list-group flex-md-row" style="margin-top: 30px;">
              <li style="margin-right: 27px;">social-media</li>
              <li style="margin-right: 27px;">Mobile-Application</li>
              <li style="margin-right: 27px;">canad.ca</li>
              <li style="margin-right: 27px;">Term&condition</li>
              <li>Privacy</li>
            </ul>
          </nav>
          <div class="col-xs-6 col-md-2 text-right">
            <%= link_to canada_main_path(:can) do %>
           <%= image_tag "last"%>
           <%end%>
          </div>
        </div>
      </div>
    </div>
</body>
