<body style="overflow-x: hidden;">
  <div class="pic1">
    <%= link_to canadas_path do %>
    <%= image_tag "2" %>
    <%end%>
  </div>

  <p  class="pic2"></p>
  <div class="dropdown-show">
    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="                            dropdownMenuLink" data-toggle="dropdown">Menu
    </a>

    <div class="dropdown-menu" >
      <%= link_to 'visit', canada_visit_path(:visa), class: "dropdown-item" %>

      <%= link_to 'immigrant', canada_immigrant_path(:visa), class: "dropdown-item" %>

      <%= link_to 'study', canada_study_path(:visa), class: "dropdown-item" %>

      <%= link_to 'work', canada_work_path(:visa), class: "dropdown-item" %>
    </div>
  </div>
  <div class="container">
   <h1 class="oo">Edit form Canada:Visa</h1>

   <%= render 'form' %>

   <!-- <%= link_to 'Back', canada_main_path(:can) %> -->
  </div>
      <div class="brand">
      <div class="container" style="margin-top: 26px; margin-bottom: 1px;">
        <div class="row">
          <nav class="col-sm-10 ftr-urlt-lnk">
            <ul class="list-group flex-md-row" style="margin-top: 18px; ">
              <li style="margin-right: 27px;">social-media</li>
              <li style="margin-right: 27px;">Mobile-Application</li>
              <li style="margin-right: 27px;">canad.ca</li>
              <li style="margin-right: 27px;">Term&condition</li>
              <li>Privacy</li>
            </ul>
          </nav>
          <div class="col-xs-6 col-md-2 text-right">
           <%= image_tag "last"%>
          </div>
        </div>
      </div>
    </div>
</body>
