<body style="overflow-x: hidden;">
  <div class="pic1">
    <%= link_to canadas_path do %>
    <%= image_tag "can1" %>
    <%end%>

  </div>
<div style="margin-left: 501px;">
    <%= image_tag "we", class: "mySlides"%>
    <%= image_tag "visi", class: "mySlides"%>
    <%= image_tag "imii", class: "mySlides"%>
    <%= image_tag "study", class: "mySlides"%>
    <%= image_tag "wok", class: "mySlides"%>
</div>
<script type="text/javascript">
  var myIndex = 0;
  carousel();

  function carousel()
  {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 5000); // Change image every 2 seconds
  }

</script>
  <p  class="pic2"></p>
  <div>
    <marquee>
      <div>
        <span>Avail your canada visa from here |</span>&nbsp;
        <span> Study visa |</span>&nbsp;
        <span>Immigration |</span>&nbsp;
        <span>Visit Visa |</span>&nbsp;
        <span>Work Permit Visa |</span>&nbsp;
        <span>Best Place to get Any Type of Canada Visa</span>
      </div>
    </marquee>
  </div>

  <div class="dropdown-show" style="margin-top: -46px;">
    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="                            dropdownMenuLink" data-toggle="dropdown">Menu
    </a>

    <div class="dropdown-menu" >
      <%= link_to 'visit', canada_visit_path(:visa), class: "dropdown-item" %>

      <%= link_to 'immigrant', canada_immigrant_path(:visa), class: "dropdown-item" %>

      <%= link_to 'study', canada_study_path(:visa), class: "dropdown-item" %>

      <%= link_to 'work', canada_work_path(:visa), class: "dropdown-item" %>
    </div>
  </div>
  <div class="container">
    <div class="mwscolumn section">
      <div class="row">
        <div class="col-md-6">
          <div class="mwstitle section">
            <h1 id="imi">For new immigrants</h1>
            <p class="jk"></p>
            <p>Apply for a permanent resident card or Canadian citizenship and find out about how to start your life in Canada. Also find out what services are near you to help and what to expect for your first tax year.</p>
          </div>
          <div class="col-md-6 mrgn-tp-md hidden-sm hidden-xs op">
            <%= image_tag "imi" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 30px;">
    <h2><strong>How to Get Canadian Permanent Resident</strong></h2>
    <p>In order to initiate the Canada PR process, contact the nearest consulate, high commission or an embassy of Canada. At the basic level, obtaining a permanent resident visa requires the individual to:</p>
    <ul>
      <li>Provide a medical certificate and criminal record check</li>
      <li>Fill in and submit a permanent resident visa application</li>
      <li>Pay the application fee</li>
      <li>Attend interviews with immigration representatives</li>
    </ul>
    <p>In addition, and depending on the nature and category of your application, the following may or may not be required:</p>
    <ul>
      <li>Originals, copies and official translations of documents that support the application including educational degrees, diplomas, and certificates, personal identification documents and/or sponsor letters and relevant information</li>
      <li>Sufficient funds to support the applicant during the initial time in Canada</li>
      <li>Skills assessment test</li>
      <li>Proof of refugee status</li>
      <li>Language test(s) results</li>
      <li>Additional fees</li>
      <li>Other documentation or tests</li>
    </ul>
    <h2><strong>Determine if You're Eligible for a Permanent Resident status</strong></h2>
    <p>Calculate your score in the CRS system for Express Entry. Add all the point that you may obtain through examining the categories of age, level of education, official language proficiency, second official language, and canadian work experience. Furthermore, applicants need to be able to prove that they have sufficient funds to support themselves and their family, unless they can already legally work in or have a valid job offer from an employer in Canada.</p>
    <h2><strong>Who Can Apply for Permanent Resident Status?</strong></h2>
    <p>Anyone is allowed to apply for permanent residency in Canada but only qualified individuals will be accepted. To find if you are eligible for permanent residency you will be examined by your age, level of education, official language proficiency, second official language and Canadian work experience.</p>
    <div style="text-align: center;">
      <%= link_to "Apply now", new_canada_path, class: "btn btn-dark"  %>
    </div>
    <div class="brand" id="brand_imi">
      <div class="container" style="margin-top: 26px; margin-bottom: 1px;">
        <div class="row">
          <nav class="col-sm-10 ftr-urlt-lnk">
            <ul class="list-group flex-md-row">
              <li style="margin-right: 27px;">social-media</li>
              <li style="margin-right: 27px;">Mobile-Application</li>
              <li style="margin-right: 27px;">canada.ca</li>
              <li style="margin-right: 27px;">Term&condition</li>
              <li>Privacy</li>
            </ul>
          </nav>
          <div class="col-xs-6 col-md-2 text-right">
           <%= link_to canada_main_path(:can) do %>
           <%= image_tag "last"%>
           <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
