<body style="overflow-x: hidden;">
  <div class="pic1">
    <%= link_to canadas_path do %>
    <%= image_tag "2" %>
    <%end%>
  </div>
  <div style="margin-left: 501px;">
    <%= image_tag "we", class: "mySlides"%>
    <%= image_tag "visi", class: "mySlides"%>
    <%= image_tag "imii", class: "mySlides"%>
    <%= image_tag "study", class: "mySlides"%>
    <%= image_tag "wok", class: "mySlides"%>
  </div>

  <script type="text/javascript">
    var myIndex = 0;
    carousel();

    function carousel()
    {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 5000); // Change image every 2 seconds
    }
  </script>
  <div>
    <p  class="pic2"></p>
  <div>
    <marquee>
      <div>
        <span>Tamim dari.||</span>&nbsp;
        <span>tamim dari</span>
      </div>
    </marquee>
  </div>
  <% @canada.each do |canada| %>
    <div class="form-group col-md-8">
      <p>
        <strong>Application no: </strong>
        <span class="l11"><%= canada.application_no %></span>
      </p>
    </div>
    <div class="form-group col-md-8">
      <p>
        <strong>First name:</strong>

        <span class="l"><%= canada.first_name %></span>
      </p>
    </div>
    <div class="form-group col-md-8">
      <p>
        <strong> Surname:</strong>
        <span class="l1"><%= canada.surname %></span>
      </p>
    </div>
    <div class="form-group col-md-8">
      <p>
        <strong>Last name</strong>
        <span class="l2"><%= canada.last_name %></span>
      </p>
    </div>
    <div class="form-group col-md-8">
      <p>
        <strong>Nationality:</strong>
        <span class="l3"><%= canada.nationality %></span>
      </p>
    </div>
    <div class="form-group col-md-8">
      <p>
        <strong>Passport no:</strong>
        <span class="l4"><%= canada.passport_no%></span>
      </p>
    </div>
    <div class="form-group col-md-8">
      <p>
        <strong>Passport expiry</strong>
        <span class="l5"><%= canada.passport_expiry %></span>
      </p>
    </div>
    <div class="form-group col-md-8">
      <p>
        <strong>Visa category</strong>
        <span class="l6"><%= canada.visa_category %></span>
      </p>
    </div>
    <div class="form-group col-md-8">
      <p>
        <strong>Date&Time</strong>
        <span class="l7"><%= canada.date_time %></span>
      </p>
    </div>
    <div class="form-group col-md-8">
      <p>
        <strong>Application Status</strong>
        <span class="l8"><%= canada.application_status %></span>
      </p>
    </div>
    <div>
    <div class="form-group col-md-8">
      <p>
        <strong>Marital Status</strong>
        <span class="l9"><%= canada.marital_status%></span>
      </p>
    </div>
  <% end %>
  <div class="col-md-8 text-right ades">
  <p>
    <strong class="ad" style="margin-right: 206px;">High Commission of Canada</strong><br>
    <span style="margin-right: 3px;">Postal Address:Sector G 5، Diplomatic Enclave, Islamabad,</span><br> <span class="mid" style="margin-right: 114px;">Islamabad Capital Territory 44050, Pakistan</span><br>
    <strong style="margin-right: 270px;">Islamabad, Pakistan</strong><br>
    <span style="margin-right: 189px;">Telephone: (011 92 51) 208-6000</span>
  </p>
  <p class="adi"></p>
  <p>
    <strong style="margin-right: 68px;">The Immigration and Refugee Board of Canada</strong><br>
    <span style="margin-right: 2px;">Postal Address: 74 Victoria St #400, Toronto, ON M5C 3C7,</span><br><span style="margin-right:369px;">Canada</span><br>
    <strong style="margin-right: 151px;">MJ2C+FW Toronto, Ontario, Canada</strong><br>
    <span style="margin-right: 232px;">Telephone: +14169541000</span>
  </p>
  <p class="adi"></p>
  <p>
    <strong style="margin-right: 63px;">Immigration, Refugees and Citizenship Canada</strong><br>
    <span style="margin-right: 5px;">Postal Address: 9700 Jasper Ave, Edmonton, AB T5J 4C3,</span><br> <span style="margin-right: 364px;">Canada</span><br>
    <strong style="margin-right: 133px;">GGV7+38 Edmonton, Alberta, Canada</strong><br>
    <span style="margin-right: 228px;">Telephone: +15879266858</span>
  </p>
  </div>
</div>
  <div class="form-group col-md-8">
  <!--<%= link_to 'edit', edit_canada_path(@canada) %> |
  <%= link_to 'Back', canada_main_path(:can) %> -->
    </div>
      <div class="brand_show" style="margin-top: 31px;">
      <div class="container" style="margin-top: 26px; margin-bottom: 1px;">
        <div class="row">
          <nav class="col-sm-10 ftr-urlt-lnk">
          </nav>
          <div class="col-xs-6 col-md-2 text-right" style="margin-top: 2px;">
           <%= link_to canada_main_path(:can) do %>
           <%= image_tag "last"%>
           <%end%>
          </div>
        </div>
      </div>
    </div>
</body>
