<!DOCTYPE html>
<html>
<head>
    <title>AgentApp</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :meta %>
  <meta name="robots" content="index,follow">
  <title><%= yield :title %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true, :cache => "cache/all" %>
    <%= javascript_include_tag "application", :async => true, "data-turbolinks-track" => true, :cache => "cache/all" %>
    <%= csrf_meta_tags %>
</head>
  <body>
    <%= yield %>
  </body>
</html>
